body {background-color: #aaa;}
.header {
	background-image: url(../img/header_bg.png);
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 80px;
}
.footer {
	clear: both;
}
.header > .container {
	max-width: 940px;
	margin: 0 auto;
	vertical-align: bottom;
}
.logo {
	float: left;
	margin: 0;
	font-size: 36px;
}
.logo a {
	color: #e0e0e0;
	text-decoration: none;
}
.nav {
	float: right;
}
.nav a {
	display: inline-block;
	color: #e8e8e8;
	text-decoration: none;
	padding: 10px 20px 10px 16px;
	background-image: linear-gradient(0deg, rgba(37,46,52,0), rgba(37,46,52,0.9) 50%, rgba(37,46,52,0)), linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.2) 50%, rgba(255,255,255,0));
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 50%, 100% 50%;
    background-size: 1px 100%, 1px 100%;
    background-origin: padding-box, border-box;
    border-right: 1px solid transparent;
	font-size: 12px;
	line-height: 21px;
}
.nav nav,
.nav .search {
	display: inline-block;
}
.search input {
	font-size: 12px;
	width: 120px;
	height: 25px;
	margin-left: 16px;
	padding-left: 30px;
	background-color: #2f2f2f;
	border: none;
	border-radius: 15px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(46, 46, 46, 0.6);
}
.search input:focus {
	outline: none;
	
}
.all {
	clear: both;
}
body > hr {
	height: 4px;
	border: none;
	background-color: #242424;
	margin: 0 auto;
}
article {
	max-width: 940px;
	margin: 0 auto;
}
main {
	background-color: #fff;
	/*z-index: 10;*/
}
main .section {
	margin: -65px 0 65px 20px;
	padding: 25px;
	float: left;
	z-index: 0;
	width: 220px;
	background-color: #fff;
	background-size: cover;
	position: relative;
  	/*box-shadow: 100px 0px 30px -105px black, -100px 0px 30px -105px black;*/
}
main .section:first-child {
	margin-left: 0;
}
main .section hr {
	border: none;
	background-image: url(../img/divider.png);
	height: 5px;
	margin: 0 0 12px 0;
}
main .section::after {
	display: block;
	content: "";
	background-image: linear-gradient(to bottom, 
		rgba(255,255,255,1) 0%, 
		rgba(0,0,0,1) 50%, 
		rgba(255,255,255,1) 100%);
	background-size: cover;
	z-index: -1;
	position: absolute;
	top: 0%;
	left: -2%;
	width: 104%;
	height: 100%;
	/*background: rgba(0, 0, 0, 1);*/
}



main .section h3 {
	font-size: 15px;
	color: #171717;
	padding: 0 0 22 0;
}
main .section p:first-of-type {
	font-size: 12px;
	color: #8e8e8e;
	line-height: 16px;
	padding: 0 0 12 0;
}
main .section p:last-of-type {
	font-size: 12px;
	color: #333333;
	line-height: 16px;
	padding: 0 0 32 0;
}
main .section a {
	text-decoration: none;
	font-size: 12px;
	color: #333333;
	line-height: 16px;
}
.footer {
	background: url(../IMG/header_bg.png);
}
.footer article {
	max-width: 940px;
	margin: 0 auto;
	padding: 40px 0 30px;
}
.footer .section {
	float: left;
	width: 220px;
	margin: 0 0 0 20px;
	color: #fff;
}
.footer .about {
	margin: 0;
}
.footer .section h3 {
	margin: 0 0 20px 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 14px;
}
.footer .section hr {
	border: none;
	background-color: gray;
	height: 1px;
	opacity: .4;
	margin-bottom: 20px;
}
.footer .section p {
	margin-top: 15px;
	font-size: 12px;
	line-height: 14px;
}
.footer .section a {
	color: #999999;
	text-decoration: none;
}
.footer .section span {
	display: block;
	padding: 8px 0;
	font-size: 12px;
	line-height: 14px;
}
.footer .section ul {
	list-style: none;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer .section li {
	background-color: #ccc;
	border: 3px solid #fff;
	float: left;
	margin: 0 0px 12px 0;
}
.footer .section li a{
	display: block;
	width: 40px;
	height: 40px;
}
footer {
	background: url(../IMG/footer_bg.png);
}
footer .container {
	max-width: 940px;
	margin: 0 auto;
	padding: 20px 0;
}
footer .logo {
	font-size: 34px;
	line-height: 34px;
	text-decoration: none;
	color: #808080;
	padding-right: 10px;
	background-image: linear-gradient(0deg, rgba(37,46,52,0), rgba(37,46,52,0.9) 50%, rgba(37,46,52,0)), linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.2) 50%, rgba(255,255,255,0));
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 50%, 100% 50%;
    background-size: 1px 100%, 1px 100%;
    background-origin: padding-box, border-box;
    border-right: 1px solid transparent; 
	float: left;
}
footer .footer_text {
	float: left;
	padding-left: 10px;
	color: #818181;
	font-size: 12px;
	line-height: 18px;
}
footer .footer_text a {
	text-decoration: none;
	color: #818181;
}
footer .footer_copyright {
	float: right;
	color: #818181;
	font-size: 12px;
	line-height: 18px;
	padding-right: 10px;
}
footer .footer_copyright a {
	color: #b2b2b2;
	text-decoration: none;
}